<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
    <testsuites><testsuite name="package"><directory>tests/Feature</directory><directory>tests/Unit</directory><directory>tests/Integration</directory><directory>tests/MySql</directory></testsuite></testsuites>
    <php><env name="APP_ENV" value="testing"/><env name="DB_CONNECTION" value="testing"/></php>
</phpunit>
